
.s {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff  ;
  margin-bottom: 0.75rem;
}

.s2 {
  font-size:1.5rem;
  font-weight: 400; 
  color: #ffffff  ;
}

.s3 {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
}

.te {
  font-size: 1rem;
  font-weight: 200;
  color: #ffffff;
  opacity: 0.8;
}

.list {
  list-style-type: disc;
  margin-left: 1.5rem;
  color: #dddddd;
}



.listItem {
  margin-bottom: 0.5rem;
}